<!DOCTYPE html>
<html>
<head>
  <title>Ojala</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="navbar navbar-expand-lg navbar-light navbar-dark bg-primary">
		<div class="container">
			<a href="#" class="navbar-brand">WaifBook</a>
				<div class="collapse navbar-collapse">
					<ul class="navbar-nav">
						<li class="nav-item active">
					        <a class="nav-link" href="<%=statuses_path%>">Status</a>
					    </li>
					</ul>
				</div>
		</div>
	</div>

	<div class="Bajada container">
		<%= yield %>
	</div>

</body>
</html>
